<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.umnozhka">

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appName"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.firstSet.MultiplayIt.FinishLeassonActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.firstSet.MultiplayIt.GradebookActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.firstSet.MultiplayIt.StartActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.firstSet.MultiplayIt.PrefActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.firstSet.MultiplayIt.MainActivity"
            android:screenOrientation="portrait" />
    </application>
</manifest>